.pfpImg {
    height: 150px;
}

.indicator {
    position: absolute;
    bottom: 14px;
    right: 14px;
    height: 24px;
}

.smallImg {
    position: absolute;
    bottom: 14px;
    right: 14px;
    height: 28px;
}

.game {
    display: inline-block;
    height: 128px;
}

.largeImg {
    height: 100%;
}

.pfp, .game {
    position: relative;
}

.pfpImg, .indicator, .smallImg {
    border-radius: 50% !important;
}

.pfpImg, .indicator, .game, .smallImg, .largeImg {
    aspect-ratio: 1/1;
}