.indicator {
    position: absolute;
    bottom: 14px;
    right: 14px;
    height: 24px;
}

.smallImg {
    position: absolute;
    bottom: 14px;
    right: 14px;
    height: 28px;
}

.pfp {
    position: relative;
}

.pfpImg, .largeImg {
    height: 150px;
}

.pfpImg,
.indicator,
.smallImg {
    border-radius: 50% !important;
}

.pfpImg,
.indicator,
.smallImg,
.largeImg {
    aspect-ratio: 1/1;
}