@font-face {
    font-family: "Pusab";
    src: url("/fonts/Pusab.woff2") format("woff2");
}

body {
    color: white;
    background-color: black;

    font-family: "Pusab";

    margin: 0;
    overflow: hidden;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

h1 {
    font-size: 80px;
    font-weight: normal;

    text-wrap: nowrap;
    -webkit-text-stroke: 3px black;

    margin: 0;

    user-select: none;
    pointer-events: none;
}

.text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}