@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap");

:root {
    --border: solid white;
}

/* elements */

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;

    color: white;
    background-color: black;

    font-family: "Inconsolata", Arial, Helvetica, sans-serif;
    
    margin: 0;
    
    overflow: hidden;
}

img {
    pointer-events: none;
}

/* classes */

.container {
    display: flex;
    align-items: center;

    border: 2px var(--border);
    border-radius: 10px;

    gap: 50px;
    padding: 30px;
}

.rounded-image {
    border-radius: 50%;
}

/* ids */

#main-container {
    display: flex;
    flex-direction: column;

    gap: 20px;
}

#top-container {
    display: flex;
    align-items: center;

    gap: 100px;
}

#info-img {
    width: 150px;
    
    border: 3px var(--border);
}

#cover-img {
    width: 100px;
}