@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

body {
    color: white;
    background-color: black;

    font-family: "Rubik", Arial, Helvetica, sans-serif;

    margin: 0;
    overflow: hidden;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

img {
    aspect-ratio: 1/1;
}

a {
    pointer-events: all;
}

h1, p {
    text-align: center;
    margin: 0;
}

#container {
    display: flex;
    position: absolute;
    align-items: center;

    background-color: rgba(20, 20, 20, 0.5);
    backdrop-filter: blur(8px);

    border: 2px solid white;
    border-radius: 15px;

    gap: 50px;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px;

    user-select: none;
    pointer-events: none;
}

#pfp {
    width: 150px;

    border: 3px solid white;
    border-radius: 50%;
}

#items {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

#info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#socials {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.social {
    width: 25px;
    transition: 0.2s;
}

.social:hover {
    transform: scale(1.15);
}